@import '../../styles/main.module.scss';

.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    @include breakpoint('sm') {
        width: 75%;
    }

    @include breakpoint('md') {
        width: 50%;
    }
}

.specialsBox {
    display: flex;
    align-items: center;
    box-sizing: content-box;

    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid var(--c-pink);
    border-radius: 5px;
}

.zap {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.specialsMessage {
    display: flex;
}

.bitsAndIncrementer {
    font-family: var(--ff-monospace);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bitsAndDecimals {
    display: flex;
    flex-direction: row;
}

.bitBox {
    display: flex;
    flex-direction: column;
    width: 32px;
}

.highlightedDecimal {
    color: var(--c-red);
}

.incDecContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widthContainer {
    display: flex;
    align-self: center;
}

.controlChevron {
    cursor: pointer;
    background: none;
    color: var(--c-body-text);

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
