// Adapated from https://codepen.io/mxttsco/pen/KgodYm
$transition: all 0.2s ease-in-out;
@mixin text-with-animated-underscore($cssVar) {
    $color: var(#{$cssVar});
    color: $color;

    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        width: 0px;
        height: 2px;
        transition: $transition;
        transition-duration: 0.4s;
        opacity: 0;
        left: 0;
        background-color: $color;
    }

    &:hover {
        cursor: pointer;

        &:before,
        &:after {
            width: 100%;
            opacity: 1;
        }
    }
}

.text {
    display: inline-block;
    position: relative;

    transition: $transition;
    position: relative;
}

.brownU {
    @include text-with-animated-underscore(--c-red);
}

.orbyt {
    @include text-with-animated-underscore(--c-purple);
}

.projects {
    @include text-with-animated-underscore(--c-green);
}

.blog {
    @include text-with-animated-underscore(--c-blue);
}
