.container {
    max-width: 300px;
    height: 400px;
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--c-blue-gray);

    background-size: 300%;
    transition: background-position 1s;

    &:hover {
        background-position: right;
    }
}

.imageWrapper {
    height: 60%;
}
