@import '../styles/main.module.scss';

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image {
    align-self: center;
    max-width: 100%;

    @include breakpoint('sm') {
        max-width: 75%;
    }

    @include breakpoint('md') {
        max-width: 40%;
    }
}
