@import '../styles/main.module.scss';

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    column-gap: 1rem;
    row-gap: 1rem;

    @include breakpoint('sm') {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint('md') {
        grid-template-columns: repeat(4, 1fr);
    }
}
