.programsContainer {
    width: 800px;
}

.programContainer {
    position: relative;
    margin-bottom: 60px;
}

.operationContainer {
    position: absolute;
    // Experimentally found
    transform: translateY(-43%);
    padding: 0 8px;
    cursor: ew-resize;


    display: flex;
    justify-content: center;
    border-radius: 4px;

    background-color: var(--c-red);
}

.operationText {
    user-select: none;
}

.programLine {
    height: 2px;
    width: 100%;
    background-color: white;
}

