@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Oswald:wght@500;600&display=swap');

:root {
    /* Type */
    --ff-main: 'Oswald', sans-serif;
    --ff-secondary: 'Old Standard TT', serif;

    /* Colors */
    --c-heading-text: #fff;
    --c-body-text: #e9e9e9;

    --c-green: #16a085;
    --c-blue: #3498db;
    --c-purple: #9b59b6;
    --c-red: #e74c3c;

    /* Base font size */
    --fs-base: 16px;

    --fs-1: 3.052rem;
    --fs-2: 2.441rem;
    --fs-3: 1.953rem;
    --fs-4: 1.563rem;
    --fs-5: 1.25rem;
    --fs-small: 0.75rem;

    /* Font weights */
    --fw-main-default: 500;
    --fw-main-bold: 600;

    --fw-secondary-default: 400;
    --fw-secondary-bold: 700;
}

@media (min-width: 600px) {
    :root {
        --fs-base: 18px;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-base: 20px;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;

    font-family: var(--ff-secondary);
    font-size: var(--fs-base);

    line-height: 1.75;
    font-weight: 400;
}

/* Default overrides should go here */

/* Typography */

p {
    font-family: var(--ff-secondary);
    font-size: 1rem;
    font-weight: var(--fw-secondary-default);

    margin-bottom: 1rem;
    line-height: 1.6rem;

    font-feature-settings: 'kern';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--ff-main);
    font-weight: var(--fw-main-default);

    margin: 3rem 0 1.38rem;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

small {
    font-size: var(--fs-small);
}
