@import './main.module.scss';

.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: var(--c-dark-blue);
}

.content {
    display: flex;
    flex-direction: column;

    @include breakpoint('sm') {
        flex-direction: row;
        justify-content: space-between;
    }

    & > .column + .column {
        @include breakpoint('sm') {
            margin-left: 40px;
        }
    }
}

.textContainer {
    max-width: 45ch;
}

.column {
    width: 100%;

    @include breakpoint('sm') {
        width: calc(50% - 20px);
        flex-shrink: 0;
    }
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.meImage {
    display: none;

    @include breakpoint('sm') {
        display: block;
        width: 65%;
        border-radius: 20px;
    }
}
